.button
  display inline-block
  min-height 2.5rem
  padding-left 1.4rem
  padding-right 1.4rem
  font-size 1.15rem
  border 1px solid transparent
  background #f59c00
  color white
  font-family 'Helvetica Neue Cyr'
  font-weight 300
  cursor pointer
  transition .4s
  &:hover, &:focus
    background #ffba00
  &_sm
    min-height 2.25rem
    padding-left 1.2rem
    padding-right 1.2rem
    font-size 1rem
  &_lg
    min-height 3rem
    padding-left 1.8rem
    padding-right 1.8rem
    font-size 1.35rem
