.auth
  .container-fluid.auth__form

    include /src/components/bigLogo/bigLogo

    .padding_bottom
      button.button.button_block ДЕМО-ВЕРСИЯ

    h2 Авторизация

    form.form(ng-submit='loginCtrl.login()')
      input.form__input.form__input_bordered.margin_bottom_half(name='login' placeholder='Логин' ng-model='loginCtrl.user.login')
      input.form__input.form__input_bordered.margin_bottom_half(name='password' type='password' placeholder='Пароль' ng-model='loginCtrl.user.password')

      p.form__message.form__message_error(ng-show='loginCtrl.loginError') {{loginCtrl.loginError}}

      .padding_bottom_half
        button.button.button_block.button_grey ВХОД

      a.link(ui-sref='password-recovery') Забыли пароль?
