.auth
  .container-fluid.auth__form

    include /src/components/bigLogo/bigLogo

    .padding_bottom
      button.button.button_block ДЕМО-ВЕРСИЯ

    h2 Авторизация

    form.form(ng-submit='loginCtrl.login()')
      .form__group.margin_bottom_half
        input.form__input(name='login' placeholder='Логин' ng-model='loginCtrl.user.login')
      .form__group.margin_bottom_half
        input.form__input(name='password' type='password' placeholder='Пароль' ng-model='loginCtrl.user.password')

      div(ng-if='loginCtrl.errorCode')
        p.form__message.form__message_error(ng-show='loginCtrl.errorCode != 403') Неправильное имя пользователя или пароль
        p.form__message.form__message_error(ng-show='loginCtrl.errorCode == 403') У Вас нет доступа к данному ресурсу

      .padding_bottom_half
        button.button.button_block.button_grey ВХОД

      a.link(ui-sref='password-recovery') Забыли пароль?
