.icon_calendar {
  width: 488px;
  height: 488px;
}

.icon_car-compact {
  width: 447px;
  height: 447px;
}

.icon_check-symbol {
  width: 448px;
  height: 448px;
}

.icon_clock {
  width: 299.995px;
  height: 299.995px;
}

.icon_close {
  width: 371.23px;
  height: 371.23px;
}

.icon_id-card {
  width: 490px;
  height: 490px;
}

.icon_left-chevron {
  width: 407.436px;
  height: 407.436px;
}

.icon_license-plate {
  width: 512.001px;
  height: 512.001px;
}

.icon_logo {
  width: 1487.8px;
  height: 737.8px;
}

.icon_pawn {
  width: 100px;
  height: 100px;
}

.icon_pencil {
  width: 32px;
  height: 32px;
}

.icon_phone-receiver {
  width: 578.106px;
  height: 578.106px;
}

.icon_placeholder {
  width: 60px;
  height: 60px;
}

.icon_placeholder_fill {
  width: 54.757px;
  height: 54.757px;
}

.icon_play-arrow {
  width: 357px;
  height: 357px;
}

.icon_search {
  width: 56.966px;
  height: 56.966px;
}

.icon_user-silhouette {
  width: 409px;
  height: 409px;
}

.icon_user_settings {
  width: 32px;
  height: 32px;
}

.icon_weekly-calendar {
  width: 512px;
  height: 512px;
}

