just-calendar
  display block
  max-width 320px
  margin auto
  padding-bottom 10px
  text-transform uppercase
  overflow auto
  background-color rgba(210, 210, 210, 0.08)
  font-family 'Helvetica Neue Cyr'
  color #fff
  table
    width 100%
    min-width 240px
    border-spacing 0
    border-collapse collapse
    table-layout fixed
    th, td
      height 30px
      padding 5px
      text-align center
      font-weight inherit

  .header
    height 40px
    background-color rgba(27, 27, 27, .1)
    font-size 1.7rem
    text-transform capitalize
    &__nav
      width 40px
      cursor pointer
      transition .4s
      &:hover
        opacity .5

  .month
    cursor default

  .weekdays
    background-color rgba(27, 27, 27, .1)
    border-bottom 1px solid rgba(255, 255, 255, .2)
    box-shadow 0 1px rgba(0, 1, 1, .25)
    &__day
      font-size .75rem
      font-weight 300

  .week
    &__day
      font-size 1.3rem
      &_otherMoth
        color #bfc4da
      &_selected
      &_today
        position relative
        &:after
          content ' '
          display block
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          width 90%
          padding-bottom 90%
          background-color rgba(0, 0, 0, .1)
          border-radius 50%
      &_today:after
        border 1px solid white
