.menu
  position relative
  margin-top 25px
  padding-top 30px
  &:after
    separator()
    content ' '
    position absolute
    left 0
    right 0
    top 0
  &__item
    display flex
    align-items center
    margin-bottom 20px
    color #fff
    text-decoration none
  &__icon
    margin-right 15px
    &_car
      sprite($car)
    &_chart
      sprite($chart)
    &_check
      sprite($check)
  &__text
    font-family 'Helvetica Neue Cyr'
    font-size 1.313rem

  &__item_active
    color #f59c00
    cursor default
    .menu__icon
      &_car
        spritePosition($car_active)
      &_chart
        spritePosition($chart_active)
      &_check
        spritePosition($check_active)

.sidebar__body_mini
  .menu
    margin-top 30px
    padding-top 35px
    &__item
      margin-bottom 30px
    &__icon
      margin-right 0
      &_car
        sprite($car-big)
      &_chart
        sprite($chart-big)
      &_check
        sprite($check-big)
    &__item_active
      .menu__icon
        &_car
          spritePosition($car-big_active)
        &_chart
          spritePosition($chart-big_active)
        &_check
          spritePosition($check-big_active)
