.form
  &__caption
    margin-bottom 15px
  &__input
    position relative
    width 100%
    padding 0 8px
    box-shadow none
    outline none
    color #777
    font-size 1rem
    border 0
    background none
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    cursor text
    transition .4s
    &_dummy
      display flex
      align-items center
    &:focus
      border-color #a0a0a0
    &_lg
      height 2.5rem
    &_bordered
      border 1px solid #363636
      color #363636
      &::placeholder
        opacity .9
        color #363636
      &:focus
        background #ededed
        border-color @border-color
  &__group
    position relative
    display flex
    height 2rem
    background #c9c8c5
    cursor pointer
    &:before
      content ''
      position absolute
      top 1px
      right 1px
      bottom 1px
      left 1px
      background #fff
    &_dropdown
      padding-right 38px
      &:after
        content ''
        position absolute
        top 50%
        right 8px
        transform translate(-50%, -75%) rotate(45deg)
        display block
        width 12px
        height @width
        border-right 1px solid #999
        border-bottom 1px solid #999
        transition .2s
  &__addon
    position relative
    display flex
    align-items center
    justify-content center
    min-width 32px
    box-shadow 6px 0 0px -5px #999
    color #999
    cursor pointer
    .icon
      width 18px
      height 18px
  &__message
    margin-top -12px
    margin-bottom 12px
    font-size .95rem
    &_error
      color #ea4b35
