.form
  &__caption
    margin-bottom 15px
  &__input
    width 100%
    line-height 2rem
    padding 0 .8rem
    background #ededed
    box-shadow none
    outline none
    color #777
    font-weight 300
    font-size 1rem
    border 0
    transition .4s
    &:focus
      border-color #a0a0a0
    &_lg
      height 2.5rem
    &_bordered
      border 1px solid #363636
      color #363636
      &::placeholder
        opacity .9
        color #363636
      &:focus
        background #ededed
        border-color @border-color
  &__group
    display flex
  &__addon
    display flex
    align-items center
    padding .3rem .5rem
    border 0
    line-height 1
    font-size .9rem
    text-align center
    background #a2a2a2
    &_light
      background #ededed
  &__message
    margin-top -12px
    margin-bottom 12px
    font-size .95rem
    &_error
      color #ea4b35
