.form
  &__caption
    margin-bottom 15px
  &__input
    width 100%
    height 2rem
    padding-left .8rem
    padding-right .8rem
    margin-bottom 15px
    background #ededed
    box-shadow none
    outline none
    color #777
    font-family 'Helvetica Neue Cyr'
    font-size 1rem
    border 1px solid transparent
    transition .4s
    &:focus
      border-color #a0a0a0
    &_bordered
      background #e3e3e3
      border-color #363636
      &:focus
        background #ededed
        border-color @border-color
  &__searchForm
    display flex
    input
      margin 0
  &__errorMsg
    margin-top -10px
    margin-bottom 15px
    font-size .95rem
    color red
