.auth
    .container-fluid.auth__form
        include /src/components/bigLogo/bigLogo

        h2 Забыли пароль?

        form.form(ng-submit='AuthCtrl.recoverPassword()')
            input.form__input.form__input_bordered(placeholder='Введите телефон, email или логин')

            p.form__errorMsg(ng-show='AuthCtrl.isLoginError') Пользователя с такими данными нет

            .padding_bottom_half
                button.button.button_block.button_grey ОТПРАВИТЬ
