.login
    .login__form
        h1.login__caption Авар
            span.text_highlight Ком

        img.login__image(src='images/logo_banner.png')

        .gutter_bottom
            button.button.button_block ДЕМО-ВЕРСИЯ

        h2 Авторизация

        form.form(ng-submit='AuthCtrl.login()')
            input.form__input.form__input_bordered(placeholder='Логин')
            input.form__input.form__input_bordered(type='password' placeholder='Пароль')

            p.form__errorMsg(ng-show='AuthCtrl.isLoginError') Неправильное имя пользователя или пароль

            .gutter_bottom_half
                button.button.button_block.button_grey ВХОД

            a.link(ui-sref='password-recovery') Забыли пароль?
