.login
    .login__form
        h1.login__caption Авар
            span.text_highlight Ком

        img.login__image(src='images/logo_banner.png')

        h2 Забыли пароль?

        form.form(ng-submit='AuthCtrl.recoverPassword()')
            input.form__input.form__input_bordered(placeholder='Введите телефон, email или логин')

            p.form__errorMsg(ng-show='AuthCtrl.isLoginError') Пользователя с такими данными нет

            .gutter_bottom_half
                button.button.button_block.button_grey ОТПРАВИТЬ
