.statistics
    .main__header
        h1.main__caption Статистика

    .gutter_bottom
        .statisticsSection
            section Данные с
                | &nbsp;
                date-picker.statistics__datePicker(selected='statCtrl.startDate')
                | &nbsp;
                | по
                | &nbsp;
                date-picker.statistics__datePicker

            table.table.statisticsTable.text_center
                tr.table__row
                    td.table__cell.statisticsTable__property Количество аварий
                    td.table__cell.statisticsTable__property Количество ложных аварий
                    td.table__cell.statisticsTable__property Количество взятых аварий
                    td.table__cell.statisticsTable__property Количество завершенных аварий
                tr.table__row
                    td.table__cell.statisticsTable__value 123
                    td.table__cell.statisticsTable__value 27
                    td.table__cell.statisticsTable__value 98
                    td.table__cell.statisticsTable__value 104

    .row
        .col-md-7
            .statisticsSection
                .statisticsSection__header
                    h4 Статистика по комиссарам:

                    form.form
                        .form__searchForm
                            input.form__input(placeholder='Введите имя или ID...')
                            button.button.button_sm НАЙТИ

                    table.table
                        tr
                            td Имя
                            td ID
                            td Всего
                            td Ложных
                            td Завершенных
                        tr(ng-repeat='com')
