.table
  background #fff
  width 100%
  border 20px solid @background
  color #383838
  &__row
    height 3.5rem
    &:not(:last-child)
      border-bottom 1px solid #bebebe
  &__cell
    font-family 'Helvetica Neue Cyr'
    font-size 1.8rem
    padding 0.7rem .8rem
    &:not(:last-child)
      border-right 1px solid #bebebe
