.logo
  display flex
  &__image
    max-height 52px
    @media (max-width 480px)
      max-height 38px
  &__text
    padding-left .5rem
    line-height 1.15
    font-size 1.25rem
    text-shadow 4px 4px 5px rgba(0,0,0,.2)
    font-weight 400
    text-align left
    @media (max-width 480px)
      font-size 1.1rem
