.logo
  display flex
  &__image
    align-self flex-start
    max-height 52px
    @media (max-width 480px)
      max-height 38px
  &__text
    padding-left .5rem
    line-height 1.15
    font-size 1.25rem
    font-weight 400
    text-align left
    @media (max-width 480px)
      font-size 1.1rem
