.main
  color #363636
  &__bg2
    background url('../images/bg-2.jpg') center / cover no-repeat
  &__bg3
    background url('../images/bg-3.png') center / cover no-repeat
  &__bg4
    background url('../images/bg-4.jpg') center / cover no-repeat
  @import 'mainHeader'
  @import 'logo'
  @import 'phone'
  @import 'hero'
  @import 'sectionHeader'
  @import 'thumb'
  @import 'testimonials'
  @import 'steps'
  @import 'address'
  @import 'mainFooter'
  @import 'mockupSlider'
