.mockupSlider
  position relative
  display inline-block
  margin-bottom 30px
  &__frame
    position absolute
    &_macbook
      top 6%
      bottom 6%
      left 13%
      right 13%
    &_iphone
      top 12%
      bottom 0
      left 5.5%
      right 5.5%
  .slick
    &-slider
      position static
    &-dots
      bottom -45px
