.phone
  position relative
  display inline-block
  padding-left 32px
  line-height 1
  font-size 1.25rem
  font-weight 600
  text-decoration none
  @media (max-width 768px)
    padding-left 0
    font-weight 400
  &:before
    position absolute
    top 50%
    transform translateY(-50%)
    left 0
    sprite($phone-call_orange)
