.phone
  position relative
  display inline-block
  padding-left 32px
  font-size 1.25rem
  font-weight 600
  text-decoration none
  &:before
    position absolute
    top 50%
    transform translateY(-50%)
    left 0
    sprite($phone-call_orange)
