.thumb
  margin-bottom 30px
  text-align center
  &__image
    max-height 70px
    margin-bottom .9rem
    &_right
      display block
      margin-left auto
      @media (max-width 992px)
        margin-right auto
  &__caption
    margin-top 0
    margin-bottom .2rem
    font-size 1.2rem
    font-weight 600
  &__description
    margin 0
    font-size 1rem
  &_horizontal
    @media (min-width 992px)
      text-align left
