.statistics
    flex-direction column
    flex 1
    text-align center
    overflow auto
    &Section
        padding 30px
        background #fff
        @media (max-width 992px)
            padding 15px
        & + &
            margin-top 30px
        &__header
            display flex
            justify-content space-between
            flex-wrap wrap
            margin-bottom 30px
    &Table
        margin-top 40px
        &__property
            font-size 1.4rem
        &__value
            font-weight 300
    &__datePicker
        display inline-block
        margin-left 10px
        margin-right 10px
