.padding_vertical
  .padding_bottom
    .dashboard__section
      section.text_center
        | Данные с &nbsp;
        date-picker.statistics__datePicker(selected='statCtrl.startDate')
        | &nbsp; по &nbsp;
        date-picker.statistics__datePicker(selected='statCtrl.endDate')

      .table
        table.statisticsTable.text_center
          tr
            td.statisticsTable__property Количество аварий
            td.statisticsTable__property Количество ложных аварий
            td.statisticsTable__property Количество взятых аварий
            td.statisticsTable__property Количество завершенных аварий
          tr
            td.statisticsTable__value {{statCtrl.general.all_events}}
            td.statisticsTable__value {{statCtrl.general.false_events}}
            td.statisticsTable__value {{statCtrl.general.taken_events}}
            td.statisticsTable__value {{statCtrl.general.completed_events}}

  .row
    .col-lg-7
      .statisticsSection
        .statisticsSection__header
          h4 Статистика по комиссарам:

          form.form
            .form__group
              .form__addon
                .image_search
              input.form__input(ng-model='$ctrl.searchComInput' placeholder='Поиск коммиссара...')

        .table
          table(ts-wrapper)
            tr
              td(ts-criteria='name | lowercase' ts-default) Имя
              td(ts-criteria='id') ID
              td(ts-criteria='taken_events | parseInt') Взятых
              td(ts-criteria='false_events | parseInt') Ложных
              td(ts-criteria='competitor_events | parseInt') Конкуренты
              td(ts-criteria='police_events | parseInt') ДПС
              td(ts-criteria='completed_events | parseInt') Завершенных
            tr(ng-repeat='commissioners in statCtrl.commissioners | filter : statCtrl.searchComInput' ts-repeat ts-hide-no-data)
              td {{commissioners.name}}
              td {{commissioners.id}}
              td {{commissioners.taken_events}}
              td {{commissioners.false_events}}
              td {{commissioners.competitor_events}}
              td {{commissioners.police_events}}
              td {{commissioners.completed_events}}

    .col-lg-5
      .statisticsSection.text_center
        .statisticsSection__header
          h4.container-fluid Рейтинг пользователей

        .table
          table(ts-wrapper)
            tr
              td
              td(ts-criteria='id') ID
              td(ts-criteria='rating | parseInt' ts-default='descending') Рейтинг
            tr(ng-repeat='user in statCtrl.rating' ts-repeat ts-hide-no-data)
              td {{$index+1}}
              td {{user.id}}
              td {{user.rating || 0}}
