.container-fluid.dashboard__main.statistics
    .dashboard__header
        h1.dashboard__caption Статистика

    .gutter_bottom
        .dashboard__section
            section Данные с
                | &nbsp;
                date-picker.statistics__datePicker(selected='statCtrl.startDate')
                | &nbsp;
                | по
                | &nbsp;
                date-picker.statistics__datePicker(selected='statCtrl.endDate')

            .table
                table.statisticsTable.text_center
                    tr
                        td.statisticsTable__property Количество аварий
                        td.statisticsTable__property Количество ложных аварий
                        td.statisticsTable__property Количество взятых аварий
                        td.statisticsTable__property Количество завершенных аварий
                    tr
                        td.statisticsTable__value {{statCtrl.general.all_events}}
                        td.statisticsTable__value {{statCtrl.general.false_events}}
                        td.statisticsTable__value {{statCtrl.general.taken_events}}
                        td.statisticsTable__value {{statCtrl.general.completed_events}}

    .row
        .col-lg-7.gutter_bottom
            .statisticsSection
                .table
                    .statisticsSection__header
                        h4 Статистика по комиссарам:

                        form.form(ng-submit='statCtrl.searchCommissioners()')
                            .form__searchForm
                                input.form__input(ng-model='statCtrl.searchComInput' placeholder='Введите имя или ID...')
                                button.button.button_sm НАЙТИ

                    table(ts-wrapper)
                        tr
                            td(ts-criteria='name | lowercase' ts-default) Имя
                            td(ts-criteria='id') ID
                            td(ts-criteria='all_events | parseInt') Всего
                            td(ts-criteria='false_events | parseInt') Ложных
                            td(ts-criteria='completed_events | parseInt') Завершенных
                        tr(ng-repeat='commissioners in statCtrl.commissioners | filter : statCtrl.searchComInput' ts-repeat ts-hide-no-data)
                            td {{commissioners.name}}
                            td {{commissioners.id}}
                            td {{commissioners.all_events}}
                            td {{commissioners.false_events}}
                            td {{commissioners.completed_events}}

        .col-lg-5.gutter_bottom
            .statisticsSection.text_center
                .statisticsSection__header
                    h4.container-fluid Рейтинг пользователей

                .table
                    table(ts-wrapper)
                        tr
                            td
                            td(ts-criteria='id') ID
                            td(ts-criteria='rating | parseInt' ts-default='descending') Рейтинг
                        tr(ng-repeat='user in statCtrl.rating' ts-repeat ts-hide-no-data)
                            td {{$index+1}}
                            td {{user.id}}
                            td {{user.rating || 0}}
