.statistics
  flex-direction column
  flex 1
  text-align center
  overflow auto
  &__sectionHeader
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-bottom 30px
  &__property
    font-size 1.1rem
  &__datePicker
    display inline-block
    margin-left 10px
    margin-right 10px
