.hero
  background url('../images/bg-1.jpg') center / cover no-repeat
  &__container
    padding-top 3rem
    padding-bottom 2rem
    text-align center
  &__header
    margin-bottom 1.5rem
    text-shadow 6px 5px 7px rgba(0, 0, 0, 0.2)
    &_1
      font-weight 600
    &_3
      font-size 1.25rem
      font-weight 600
      line-height 1.3
