[ng\:cloak], [ng-cloak], .ng-cloak
  display none !important

*
  box-sizing border-box

:focus
  outline none

::-moz-focus-inner
  border none

html
  height 100%
  font 200 16px/1.5 'SF UI Display', 'Helvetica', 'Arial', sans-serif

body
  margin 0
  padding 0
  height 100%

img
  max-width 100%
  vertical-align bottom

table
  border-spacing 0
  border-collapse collapse

textarea
  resize none

h1, h2, h3, h4
  margin-top 0
  margin-bottom 0
  line-height 1
  font-weight inherit

h3
  margin-top .3rem
  margin-bottom .7rem
  font-size 1.3rem

h4
  margin-top .2rem
  margin-bottom .5rem
  font-size 1.1rem

hr
  margin 0
  padding-bottom 15px
  border 0
  border-top 1px solid #c3c3c3
