theme = #515151


.datePicker
  display block
  position relative
  &__field
    display block
    width 100%
    min-width 140px
    height 2.25rem
    padding-left 1rem
    padding-right 1rem
    color #555
    font 200 1.5rem/2.25rem 'Helvetica Neue Cyr', sans-serif
    background #ededed
    cursor pointer
    transition .4s
    &:hover
      background darken(@background, 10%)
  &__calendar
    position absolute
    top 100%
    left 0
    display block
    max-width 240px
    font-family sans-serif
    overflow auto
    z-index 100
    table
      width 100%
      min-width 240px
      border-spacing 0
      border-collapse collapse
      table-layout fixed
      tr
        border 1px solid #bebebe
      th, td
        height 30px
        padding 5px
        text-align center
        font-weight inherit

    .header
      height 40px
      background theme
      color white
      text-transform capitalize
      tr
        border-bottom none
      &__nav
        width 40px
        cursor pointer
        transition .4s
        &:hover
          opacity .5

    .month
      background #fff
      cursor default
      th, td
        border-right 1px solid #bebebe
        &:last-child
          border-right 0

    .weekdays
      &__day
        color theme
        font-size .95rem
        font-weight 400
        text-transform uppercase

    .week
      &__day
        font-size .85rem
        &_otherMoth
          color #c0c0c0
        &_today
          background theme
          color #fff
        &_selected
          background rgba(theme, .2)
          color theme