$calendar = 48px 0px -48px 0px 26px 27px 120px 96px 'sprite.png';
$car = 76px 0px -76px 0px 26px 22px 120px 96px 'sprite.png';
$car_active = 76px 24px -76px -24px 26px 22px 120px 96px 'sprite.png';
$chart = 76px 48px -76px -48px 26px 20px 120px 96px 'sprite.png';
$chart_active = 0px 76px 0px -76px 26px 20px 120px 96px 'sprite.png';
$check = 28px 76px -28px -76px 26px 20px 120px 96px 'sprite.png';
$check_active = 56px 76px -56px -76px 26px 20px 120px 96px 'sprite.png';
$left-chevron_active = 104px 0px -104px 0px 16px 23px 120px 96px 'sprite.png';
$menu-button = 28px 48px -28px -48px 33px 20px 120px 96px 'sprite.png';
$plus = 0px 0px 0px 0px 46px 46px 120px 96px 'sprite.png';
$right-chevron = 104px 25px -104px -25px 16px 23px 120px 96px 'sprite.png';
$user = 0px 48px 0px -48px 26px 26px 120px 96px 'sprite.png';
