$calendar = 48px 0px -48px 0px 26px 27px 124px 96px 'sprite.png';
$car = 28px 48px -28px -48px 26px 22px 124px 96px 'sprite.png';
$car_active = 76px 21px -76px -21px 26px 22px 124px 96px 'sprite.png';
$chart = 76px 45px -76px -45px 26px 20px 124px 96px 'sprite.png';
$chart_active = 0px 76px 0px -76px 26px 20px 124px 96px 'sprite.png';
$check = 28px 76px -28px -76px 26px 20px 124px 96px 'sprite.png';
$check_active = 56px 76px -56px -76px 26px 20px 124px 96px 'sprite.png';
$left-chevron_active = 108px 0px -108px 0px 16px 23px 124px 96px 'sprite.png';
$menu-button = 76px 0px -76px 0px 30px 19px 124px 96px 'sprite.png';
$plus = 0px 0px 0px 0px 46px 46px 124px 96px 'sprite.png';
$right-chevron = 108px 25px -108px -25px 16px 23px 124px 96px 'sprite.png';
$user = 0px 48px 0px -48px 26px 26px 124px 96px 'sprite.png';
