$calendar = 48px 0px -48px 0px 26px 27px 137px 96px 'sprite.png';
$car = 76px 22px -76px -22px 26px 22px 137px 96px 'sprite.png';
$car_active = 76px 46px -76px -46px 26px 22px 137px 96px 'sprite.png';
$chart = 111px 0px -111px 0px 26px 20px 137px 96px 'sprite.png';
$chart_active = 0px 76px 0px -76px 26px 20px 137px 96px 'sprite.png';
$check = 28px 76px -28px -76px 26px 20px 137px 96px 'sprite.png';
$check_active = 56px 76px -56px -76px 26px 20px 137px 96px 'sprite.png';
$down-chevron = 111px 72px -111px -72px 17px 9px 137px 96px 'sprite.png';
$left-chevron_active = 111px 22px -111px -22px 16px 23px 137px 96px 'sprite.png';
$location = 28px 48px -28px -48px 26px 26px 137px 96px 'sprite.png';
$menu-button = 76px 0px -76px 0px 33px 20px 137px 96px 'sprite.png';
$plus = 0px 0px 0px 0px 46px 46px 137px 96px 'sprite.png';
$right-chevron = 111px 47px -111px -47px 16px 23px 137px 96px 'sprite.png';
$user = 0px 48px 0px -48px 26px 26px 137px 96px 'sprite.png';
