doctype html
html(ng-app='avarcom' lang='ru')
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./css/style.css')
    script(defer src='./js/bundle.js')
    title АварКом

  body
    .wrapper
      ui-view(name='sidebar')
      ui-view.main(name='content' autoscroll='true')
