@import 'photos.styl'

.accident
  &List
    td
      &:first-child
        width 2.75rem
      &:last-child
        line-height 1
    &__address
      border-right none !important
    &__status
      font-size .9rem
      line-height 1
    &__icon
      margin-top 3px
    &__item
      transition .4s
      &_confirmed > td:first-child, &_unconfirmed > td:first-child
        position relative
        &:before
          content ''
          position absolute
          left 0
          top 50%
          transform translateY(-50%)
          display inline-block
          border-left .4rem solid green
          border-right none
          border-top .4rem solid transparent
          border-bottom .4rem solid transparent
      &_unconfirmed > td:first-child:before
        border-left .4rem solid red
      &_green
        .accidentList__status
          color #1aaf5d
        .accidentList__icon
          sprite($right-chevron_green)
      &_red
        .accidentList__status
          color #ea4b35
        .accidentList__icon
          sprite($right-chevron_red)
      &_orange
        .accidentList__status
          color #ea4b35
        .accidentList__icon
          sprite($right-chevron_orange)
      &_active
        background #eee
        .accidentList__address
          font-weight 300

  &Form
    padding-left 15px
    padding-right 15px
    & + &
      padding-top 15px
      border-top 1px solid #c3c3c3
    &__documents
      display flex
      flex-wrap wrap
      justify-content center
