.row.gutter_bottom(ng-controller='AccidentListCtrl as ctrl')
    .col-md-7
        header.main__header
            h1.main__caption Список аварий

        .main__left
            table.table.accidentList
                tr.table__row.accidentList__item(
                    ng-repeat='accident in ctrl.accidents'
                    ui-sref='accidents.edit({id: accident.id})'
                    ui-sref-active='accidentList__item_active'
                )
                    td.table__cell.text_center {{$index+1}}.
                    td.table__cell.accidentList__address {{accident.address}}
                    td.table__cell.accidentList__icon.text_right
                        div

    .col-md-5
        ui-view
