.padding
  padding 15px
  &_top
    &_half
      padding-top 15px
  &_bottom
    padding-bottom 30px
    &_half
      padding-bottom 15px
  &_vertical
    padding-top 15px
    padding-bottom 15px
  &_none
    padding 0

.margin
  &_bottom
    &_half
      margin-bottom 15px
  &_left
    &_auto
      margin-left auto
  &_right
    &_half
      margin-right 15px
  &_none
    margin 0
