.padding
  padding 15px
  &_top
    padding-top 15px
  &_bottom
    padding-bottom 30px
    &_half
      padding-bottom 15px
  &_none
    padding 0

.margin
  &_left
    &_auto
      margin-left auto
  &_none
    margin 0

.flex
  display flex
  &_column
    flex-direction column
  &__item
    &_grow
      flex-grow 1

.scroll
  overflow auto
  &_no
    overflow visible

.height
  &_fullscreen
    height 100vh
