.gutter
  &_bottom
    padding-bottom 30px
    &_half
      padding-bottom 15px
  &_none
    padding 0

.flex
  display flex
  &_column
    flex-direction column
  &__item
    &_grow
      flex-grow 1
    &_end
      margin-left auto

.scroll
  overflow auto
  &_no
    overflow inherit

.m0
  margin 0
