.statistics
    &__section
        padding 30px
        background #fff
    &Table
        margin-top 40px
        border none
        &__property
            font-size 1.4rem
        &__value
            font-weight 300
