.wrap-dd-select
  position relative
  border 1px solid #aaa
  z-index 10
  &_bordered
    border 1px solid #363636
  .selected
    position relative
    display block
    padding .25rem .8rem
    color #fff
    font-weight 200
    cursor pointer
    &:after
      content ''
      display block
      position absolute
      top 50%
      right .8rem
      transform translateY(-50%)
      border-left .4rem solid transparent
      border-right .4rem solid transparent
      border-top .4rem solid #ddd
      border-bottom none
      transition .2s
  .dropdown
    display none
  &.active
    .selected:after
      border-top none
      border-bottom .4rem solid #ddd
    .dropdown
      display block
  &_bg
    .selected
      background #ededed
      color #363636
      font-weight 300
      opacity .9
      &:after
        border-top .4rem solid #999
    &.active .selected:after
      border-bottom .4rem solid #999
