.wrap-dd-select
  position relative
  border 1px solid #aaa
  .selected
    position relative
    display block
    padding .25rem .8rem
    color #fff
    font-weight 200
    cursor pointer
    &:after
      content ''
      display block
      position absolute
      top 50%
      right .8rem
      transform translateY(-50%)
      border-left .4rem solid transparent
      border-right .4rem solid transparent
      border-top .4rem solid #ddd
      border-bottom none
      transition .2s
  .dropdown
    position absolute
    left 0
    right 0
    top 100%
    display none
    margin 0
    padding 0
    list-style none
    background #dcdcdc
    li
      padding-left .8rem
      padding-right .8rem
      cursor pointer
      transition .4s
      &.active
        background #eee
      &:not(:last-child) a
        border-bottom 1px solid #aaa
      &:hover
        opacity .5
    a
      display block
      padding-top .15rem
      padding-bottom .15rem
  &.active
    .selected:after
      border-top none
      border-bottom .4rem solid #ddd
    .dropdown
      display block
