@import '../../../../node_modules/angularjs-toaster/toaster.css'
@import '../../../../node_modules/intro.js/introjs.css'

@import 'leaflet'
@import 'lightbox-modal'
@import 'slick'
@import 'ng-dropdown-multiselect'

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .introjs-fixParent {
    position: relative !important;
  }
}

.introjs-fixParent {
  z-index: auto !important;
  opacity: 1.0 !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
.introjs-relativePosition > * { position: relative !important; }
.introjs-showElement > * { z-index: 9999999 !important; }
