.leaflet
  &-control-attribution
    display none
  &__wrap
    position relative
  &__maximizeBtn
    display inline-block
    position absolute
    bottom 10px
    right 10px
    width 26px
    height 26px
    font bold 18px/28px 'Lucida Console', Monaco, monospace
    background #fff
    box-shadow 0 1px 5px rgba(0,0,0,0.65)
    border-radius 4px
    text-align center
    cursor pointer
    transition .4s
    &:hover
      background #f4f4f4
