.leaflet
  &-control-attribution
    display none
  &__wrap
    position relative
  &__controlBtn
    display inline-flex
    align-items center
    justify-content center
    position absolute
    width 26px
    height 26px
    font bold 18px/28px 'Lucida Console', Monaco, monospace
    background #fff
    box-shadow 0 1px 5px rgba(0,0,0,0.65)
    border-radius 4px
    text-align center
    cursor pointer
    transition .4s
    &:hover
      background #f4f4f4
    &_rightTop
      top 10px
      right 10px
    &_rightBottom
      bottom 10px
      right 10px
