@import '../../../../node_modules/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css'

.lightbox-modal
  text-align center
  .modal-dialog
    display inline-block
    width auto !important
    min-width 200px
