@import 'separator.styl'
@import 'animation.styl'
@import 'userInfo.styl'
@import 'menu.styl'
@import 'location.styl'

.sidebar
  display flex
  flex-direction column
  width 320px
  height 100%
  min-height 100vh
  background-color #515151
  &__header
    display flex
    align-items center
    justify-content space-between
    min-height 4rem
    padding-left 35px
    padding-right 35px
    background-color #383838
  &__caption
    font-size 2.2rem
    font-weight 200
    color white
  &__menuButton
    sprite($menu-button)
    margin-left 30px
    cursor pointer
    transition .4s
    &:hover
      opacity .5
  &__body
    flex 1
    overflow auto
    padding 20px 25px
    &_mini
      flex-direction column
      align-items center
      width 60px
      padding 20px 10px
  &_minimize
    align-items flex-end
    animation minimizeSidebar .4s
    animation-fill-mode forwards
    .sidebar__header
      padding-right 0
    .sidebar__menuButton
      margin-right 16px
    .sidebar__body
      display none
      &_mini
        display flex
  &_maximize
    animation maximizeSidebar .4s
    animation-fill-mode forwards

  &__icon
    cursor pointer
    &_user
      sprite($user)
      margin-left -1px
      margin-bottom 1.5rem
      &_active
        spritePosition($user_active)
    &_calendar
      sprite($calendar_white)
      margin-left -1px
