@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('helveticaneuecyr-light-webfont.eot');
    src: url('helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('helveticaneuecyr-lightitalic-webfont.eot');
    src: url('helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('helveticaneuecyr-ultralight-webfont.eot');
    src: url('helveticaneuecyr-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-ultralight-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-ultralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr';
    src: url('helveticaneuecyr-ultralightitalic-webfont.eot');
    src: url('helveticaneuecyr-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-ultralightitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-ultralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
