@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/sf-ui-display-ultralight-webfont.eot');
    src: url('../fonts/sf-ui-display-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-display-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-display-ultralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/sf-ui-display-light-webfont.eot');
    src: url('../fonts/sf-ui-display-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-display-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-display-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/sf-ui-display-regular-webfont.eot');
    src: url('../fonts/sf-ui-display-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf-ui-display-regular-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-display-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
