header.dashboard__header
    a.button.button_sm.margin_left_auto(ui-sref='dashboard.accidents' ui-sref-opts='{reload: true}') ДОБАВИТЬ АВАРИЮ

.dashboard__section.scroll
    .padding_bottom
        leaflet(ng-if='readOneCtrl.map' markers='readOneCtrl.map.markers' center='readOneCtrl.map.center' width='100%' height='280px')

    ul.accidentForm.padding_bottom_half(ng-if='readOneCtrl.selected')
        li(ng-if='readOneCtrl.selected.address' style='list-style-image: url(images/icons/location.png)')
            | {{readOneCtrl.selected.address}}
        li(ng-if='readOneCtrl.selected.phone') {{readOneCtrl.selected.phone}}
        li(ng-if='readOneCtrl.selected.carBrand') {{readOneCtrl.selected.carBrand}}
        li(ng-if='readOneCtrl.selected.name') {{readOneCtrl.selected.name}}
        li(style='list-style-image: url(images/icons/time.png)') {{readOneCtrl.selected.createdDate.time}}
        li(style='list-style-image: url(images/icons/calendar.png)') {{readOneCtrl.selected.createdDate.date}}
        li(ng-if='readOneCtrl.selected.holder_id' style='list-style-image: url(images/icons/user_id.png)')
            | {{readOneCtrl.selected.holder_id}}
