$calendar = 37px 0px -37px 0px 35px 37px 98px 79px 'sprite.png';
$car = 34px 37px -34px -37px 26px 22px 98px 79px 'sprite.png';
$car_active = 72px 0px -72px 0px 26px 22px 98px 79px 'sprite.png';
$chart = 72px 22px -72px -22px 26px 20px 98px 79px 'sprite.png';
$chart_active = 0px 59px 0px -59px 26px 20px 98px 79px 'sprite.png';
$check = 26px 59px -26px -59px 26px 20px 98px 79px 'sprite.png';
$check_active = 52px 59px -52px -59px 26px 20px 98px 79px 'sprite.png';
$menu-button = 0px 37px 0px -37px 34px 22px 98px 79px 'sprite.png';
$user = 0px 0px 0px 0px 37px 37px 98px 79px 'sprite.png';
