.accidentList
  td
    &:first-child
      width 2.75rem
    &:last-child
      line-height 1
  &__address
    border-right none !important
  &__icon
    sprite($right-chevron)
  &__item
    &_active
      color #f59c00
      .accidentList__icon
        spritePosition($left-chevron_active)
