.main
  flex 1
  padding-left 30px
  padding-right 30px
  padding-bottom 30px
  background-color #ededed
  overflow auto
  @media (max-width 992px)
    padding-left 15px
    padding-right 15px
  &__header
    display flex
    align-items center
    min-height 4rem
  &__caption
    color #383838
    font-family 'Helvetica Neue Cyr', sans-serif
    font-size 1.65rem
    font-weight 200
  &__left, &__right
    background #fff
    overflow auto
  &__left
    padding 20px
  &__right
    padding 15px
