.main
  flex 1
  padding-left 30px
  padding-right 30px
  padding-bottom 30px
  background-color #ededed
  overflow auto
  &__header
    display flex
    align-items center
    min-height 5.313rem
  &__caption
    color #383838
    font-family 'Helvetica Neue Cyr'
    font-size 2.375rem
    font-weight 200
  &__left, &__right
    background #fff
    overflow auto
  &__left
    padding 20px
  &__right
    padding 30px
