theme = #616161


.datePicker
  position relative
  display block
  &__calendar
    position absolute
    top 100%
    left 0
    visibility hidden
    max-width 240px
    margin-top -10px
    box-shadow 1px 2px 3px 2px rgba(0,0,0,0.3)
    font-family sans-serif
    overflow auto
    border-radius 2px
    z-index 100
    opacity 0
    transition .1s
    &_active
      visibility visible
      margin-top 0
      opacity 1
    table
      min-width 230px
      border-spacing 0
      border-collapse collapse
      table-layout fixed
      tr
        border-bottom 1px solid #bebebe
      th, td
        padding 2px 5px
        text-align center
        font-weight inherit

    .header
      line-height 1
      font-size .9rem
      background theme
      color white
      text-transform capitalize
      tr
        border-top none
        border-bottom none
      td, th
        padding 8px
      &__nav
        width 30px
        cursor pointer
        transition .4s
        &:hover
          opacity .5

    .month
      background #fff
      cursor default
      th, td
        font-size .8rem
        border-right 1px solid #bebebe
        &:last-child
          border-right 0

    .weekdays
      &__day
        color theme
        font-weight 400
        text-transform uppercase

    .week
      &__day
        cursor pointer
        transition .4s
        &:hover
          background rgba(theme, .2)
        &_otherMoth
          color #c0c0c0
        &_today
          background theme
          color #fff
        &_selected
          background rgba(theme, .2)
          color theme
