.datePicker(click-out='$ctrl.close()')
    .datePicker__field(ng-click='$ctrl.toggle()') {{$ctrl.selected.format("DD.MM.YYYY")}}
    just-calendar.datePicker__calendar(
        selected='$ctrl.selected'
        on-update='$ctrl.close(); $ctrl.onUpdate()'
        ng-show='$ctrl.isOpen'
    )
