.footerBottom
  background #202020
  color #fff
  @media (max-width 576px)
    text-align center
  &__copyright
    padding-top 15px
  &__privacyPolicy
    padding-top 15px
    padding-bottom 15px
    text-align right
    @media (max-width 576px)
      text-align center
