footer.footerBottom
  .container
    .row
      .col-sm-6.footerBottom__copyright Центр АК &copy; 2017
      .col-sm-6.footerBottom__privacyPolicy
        a.link(ng-click='mainCtrl.openPrivacyPolicy()') Политика конфиденциальности
