@import 'accidents'
@import 'closed'
@import 'statistics'

.dashboard
  background #fffcef
  &__main
    padding-left 15px
    padding-right 15px
    background #ededed
  &__header
    display flex
    align-items center
    min-height 4rem
  &__caption
    color #383838
    font-family 'Helvetica Neue Cyr', sans-serif
    font-size 1.65rem
    font-weight 200
  &__section
    padding 15px
    background #fff
