@import 'accidents'
@import 'closed'
@import 'statistics'

.dashboard
  min-height: 100%
  background #fffcef
  &__main
    padding-left 15px
    padding-right 15px
    background #ededed
  //&__header
  //  display flex
  //  align-items center
  //  min-height 4rem
  //&__caption
  //  color #383838
  //  font-size 1.65rem
  //  font-weight 200
  &__section
    padding 15px
    background #fff
    box-shadow 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
