.form
  &__caption
    margin-bottom 15px
  &__input
    width 100%
    height 2rem
    padding-left .8rem
    padding-right .8rem
    margin-bottom 15px
    background #ededed
    box-shadow none
    outline none
    color #777
    font-family 'Helvetica Neue Cyr'
    font-size 1rem
    border 1px solid transparent
    &:focus
      border-color #a0a0a0
