header.dashboard__header
    button.button.button_sm.flex__item_end(ui-sref='dashboard.accidents') ДОБАВИТЬ АВАРИЮ

.dashboard__section
    .gutter_bottom
        leaflet(ng-if='editCtrl.map' markers='editCtrl.map.markers' center='editCtrl.map.center' width='100%' height='280px')

    ul
        li {{editCtrl.selected.address}}
        li(ng-if='editCtrl.selected.phone') {{editCtrl.selected.phone}}
        li(ng-if='editCtrl.selected.carBrand') {{editCtrl.selected.carBrand}}
        li(ng-if='editCtrl.selected.name') {{editCtrl.selected.name}}
        li {{editCtrl.selected.createdDate.time}}
        li {{editCtrl.selected.createdDate.date}}
        li(ng-if='editCtrl.selected.holder_id') {{editCtrl.selected.holder_id}}
