include /src/components/icon/icon

.row
  .col-md-7.col-lg-8.padding_bottom_half
    button.button(ng-click='usersCtrl.addUser()') Добавить пользователя
  .col-md-5.col-lg-4.padding_bottom
    form.form
      .form__group
        label(for='searchUser').form__addon
          +icon({icon: 'search'})
        input.form__input(id='searchUser' ng-model='usersCtrl.searchComInput' placeholder='Поиск пользователя...')

.table.text_center
  table(ts-wrapper)
    tr
      td(ts-criteria='user_id | parseInt') ID
      td(ts-criteria='user_name | lowercase' ts-default) Имя
      td(ts-criteria='phone | parseInt') Телефон
      td(ts-criteria='email | parseInt') Email
      td(ts-criteria='type | lowercase') Тип
      td(ts-criteria='role | lowercase') Роль
      td(ts-criteria='block') Действия
    tr(ng-repeat='user in usersCtrl.users | filter : usersCtrl.searchComInput track by user.user_id' ts-repeat ts-hide-no-data)
      td {{user.user_id}}
      td {{user.user_name}}
      td {{user.phone}}
      td
        a.link(href='mailto:{{user.email}}') {{user.email}}
      td {{'Комиссар'}}
      td {{'Великий и прекрасный'}}
      td
        button.button.button_lightgrey.button_sm(
          ng-show='user.block'
          ng-click='usersCtrl.changeStatus(user)'
        ) Разблокировать
        button.button.button_grey.button_sm(
          ng-hide='user.block'
          ng-click='usersCtrl.changeStatus(user)'
        ) Заблокировать
