.table
  overflow auto

table
  width 100%
  vertical-align middle
tr

td

&_hover


  &sort
    &-sortable
      white-space nowrap
    &-asc, &-desc
      &:after
        content ''
        display inline-block
        margin-left .8rem
        border-left .4rem solid transparent
        border-right .4rem solid transparent
        border-top none
        border-bottom .4rem solid #f59c00
        transform translateY(-50%)
        transition .2s
    &-desc:after
      border-top .4rem solid #f59c00
      border-bottom none

[ts-criteria]
  cursor pointer
  transition .4s
  &:hover
    background #eee
