.row.gutter_bottom
    .col-md-5
        header.dashboard__header
            h1.dashboard__caption Список аварий

        .dashboard__section
            .table
                table.table_hover.accidentList
                    tr.accidentList__item(
                        ng-repeat='accident in listCtrl.accidents'
                        ui-sref='dashboard.accidents.edit({id: accident.crash_id})'
                        ui-sref-active='accidentList__item_active'
                    )
                        td.text_center {{$index+1}}.
                        td.accidentList__address {{accident.address}}
                        td.text_right
                            .accidentList__icon

    .col-md-7
        ui-view
            include ../create/create
