include ../icon/icon

header.mainHeader.mainHeader_dashboard
  .container.mainHeader__container
    a.logo.mainHeader__logo(ui-sref='home')
      .logo__image
        +icon({icon: 'logo'})
      h1.logo__text Центр АК

    .mainHeader__city
      ng-dropdown-multiselect.dropdown.dropdown_block(
        options='$ctrl.userData.cities'
        selected-model='$ctrl.selectedCities'
        extra-settings='$ctrl.citiesOptions'
        events='{onItemSelect: $ctrl.onCitySelected, onItemDeselect: $ctrl.onCityDeselected}'
      )
        toggle-dropdown
          .form__group.form__group_dropdown
            input.form__input(ng-model='$ctrl.selectedCities[0].name' readonly onfocus='this.blur()')

    .mainHeader__navbar(ng-class='{mainHeader__navbar_active: $ctrl.navbarIsActive}')
      main-navbar

    .mainHeader__burgerButton(ng-click='$ctrl.navbarIsActive = !$ctrl.navbarIsActive')
      +icon({icon: 'menu'})
