.dashboard
  margin-top 60px
  .mainHeader
    position fixed
    top 0
    left 0
    right 0
    height 60px
    z-index 10
    background #fff
    box-shadow 0 1px #c9c8c5
    &__container
      display flex
    &__logo
      height 40px
      width 80px
      margin-top 10px
      margin-bottom 10px
      color #f59c00
