.dashboard
  padding-top 52px
  .mainHeader
    position fixed
    top 0
    left 0
    right 0
    height 52px
    z-index 10
    background #fff
    box-shadow 0 1px #c9c8c5
    &__container
      display flex
    &__logo
      .icon
        height 32px
        width 64px
        margin-top 10px
        margin-bottom 10px
        color #f59c00
  .logo
    display flex
    align-items center
    text-decoration none
    &__image
      display flex
    &__text
      margin 0
      padding-left 10px
      color #333
      font-size 1rem
      font-weight 600
      text-decoration none
