*
  box-sizing border-box

:focus
  outline none

::-moz-focus-inner
  border none

html
  height 100%
  font 200 14px/1.5 'SF UI Display', 'Helvetica', 'Arial', sans-serif

body
  margin 0
  padding 0
  height 100%

img
  max-width 100%
  vertical-align bottom

textarea
  resize none

h1, h2, h3
  margin-top 0
  margin-bottom 0
  line-height 1
  font-weight inherit
