*
  box-sizing border-box

:focus
  outline none

::-moz-focus-inner
  border none

body
  margin 0
  padding 0
  height 100%
  font 200 16px/1.5 'SF UI Display', 'Helvetica', 'Arial', sans-serif

img
  max-width 100%
  vertical-align bottom

textarea
  resize none

h1, h2, h3
  font-weight inherit
